footer.container.text-center
	.container-fluid
		.row
			.col-md-3
				h4
					a(href="") Help Center 
			.col-md-3
				h4
					a(href="") Api Developers
			.col-md-3
				h4
					a(href="") About us 
			.col-md-3
				h4
					a(href="") Contact Us 
			.col-md-3
				h4
					a(href='#', target='_blank')
						i.fa.fa-facebook
						i.fa.fa-facebook
					a(href='#', target='_blank')
						i.fa.fa-google-plus
					a(href='#', target='_blank')
						i.fa.fa-linkedin
					a(href='#', target='_blank')
						i.fa.fa-instagram
					a(href='#', target='_blank')
						i.fa.fa-github
	p &copy; 2015 Bit Brothers Tech Pvt. Ltd.
