.bg-color1
  nav.navbar.navbar-invers.navbar-top#navbarid(role='navigation')
    .container-fluid#navbarid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span(style='background-color:black').icon-bar
          span(style='background-color:black').icon-bar
          span(style='background-color:black').icon-bar
        a.navbar-brand(href='/')
          img.img-responsive( src='/logo.png')
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a#viewEvent(href="/view-event") View Event
            
          li.dropdown

            a#navdropdown.dropdown-toggle(href='#', data-toggle='dropdown')
              | Categories 
              b.caret
            ul#navdropdrown.dropdown-menu
              #drop.container
                .row
                  .col-md-3
                    a(href='/view-event') Workshops
                    seperator
                      span |
                    
                  .col-md-3
                    a(href='/view-event') Conferences
                    seperator
                      span |
                  .col-md-3
                    a(href='/view-event') Hackathon
                    seperator
                      span |
                  .col-md-3
                    a(href='/view-event') Meet Up
                    seperator
                      span |



                  
          
        ul.nav.navbar-nav.navbar-right
          if(!user)
              li
                  button#navbutton.btn.btn-primary.btn-lg(href='#signup', data-toggle='modal', data-target='.bs-modal-sm') 
                    i.fa.fa-user
                    | Sign In/ 
                    i.fa.fa-user-plus
                    | Register
             
                  #myModal.modal.fade.bs-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true' onload='initialize()')
                      .modal-dialog.modal-sm
                        .modal-content
                          br
                          .bs-example.bs-example-tabs
                            ul#myTab.nav.nav-tabs
                              li.active
                                a(href='#signin', data-toggle='tab') Sign In
                              li
                                a(href='#signup', data-toggle='tab') Register
                              li
                                a(href='#why', data-toggle='tab') Why?
                          .modal-body
                            #myTabContent.tab-content
                              #why.tab-pane.fade.in
                                p
                                  | We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.
                                p
                                br
                                |  Please contact 
                                a(mailto:href='info@explara.com')
                                | info@explara.com for any other inquiries.
                                p
                              #signin.tab-pane.fade.active.in
                                .block1
                                  a#fbid.button.btn.btn-primary.butpos(href="/auth/facebook") Sign in with Facebook
                                  a#googleid.button.btn.btn-primary.butpos(href="/auth/google") Sign in with Google plus
                                  form.form-horizontal(action="/signin" method="post")
                                    fieldset
                                      // Sign In Form
                                      // Text input
                                      .control-group
                                        label.control-label(for='userid') User:
                                        .controls
                                          input#userid.form-control(required='', name='email', type='email', placeholder='Email')
                                      // Password input
                                      .control-group
                                        label.control-label(for='passwordinput') Password:
                                        .controls
                                          input#passwordinput.form-control(required='', name='password', type='password', placeholder='password')
                                      .control-group
                                        .controls
                                          button#signin.btn.btn-success(name='signin' type='submit') Sign In
                              #signup.tab-pane.fade
                                form.form-horizontal(action='/signup' method='post')
                                  fieldset
                                    // Sign Up Form
                                    // Text input
                                    .control-group
                                      label.control-label(for='Email') Email:
                                      .controls
                                        input#Email.form-control(name='userEmail', type='email', placeholder='example@example.com', required='')
                                    // Text input
                                    .control-group
                                      label.control-label(for='userName') Name:
                                      .controls
                                        input#userid.form-control(name='userName', type='text', placeholder='John Doe', required='')
                                    // Password input
                                    .control-group
                                      label.control-label(for='password') Password:
                                      .controls
                                        input#password.form-control(name='userPassword', type='password', placeholder='********', required='')
                                    // Text input
                                    br
                                    .control-group
                                      label.control-label(for='gender') Gender:
                                      #gender.controls
                                        label.radio.inline(for='Male')
                                          input#Male(type='radio', name='userGender', value='Male', checked='checked')
                                          | Male
                                        label.radio.inline(for='Female')
                                          input#Female(type='radio', name='userGender', value='Female')
                                          | Female
                                    .control-group
                                      label.control-label(for='Location')
                                        #locationField
                                          input#autocomplete(placeholder='Enter your address', onfocus='geolocate()', type='text',name="userLocation")
                                    
                                    // Button
                                    #confirmsignup.control-group
                                      label.control-label(for='confirmsignup')
                                      .controls
                                        button.btn.btn-success(name='confirmsignup') Sign Up
                          .modal-footer
                            center
                              button.btn.btn-default(type='button', data-dismiss='modal') Close
          else
                li 
                  h3#name #{user.profile.name}
                if(user.type=='admin')
                  li
                    a#cpanel(href="/adminDashboard") Cpanel
                li
                  a#dash(href="/dashboard") Dashboard
                if(user)            
                  li
                    a#addevent(href='/add-event') Add a event
                    //- img(src="#{user.profile.picture}") 
                li
                  a#signout(href='/signout') Signout
      