extends ./includes/layout
block main
     
    #abouhead.container.jumbotron
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .page-heading
              h1 About us:
                          
              
    // Main Content
    #abou.container.jumbotron
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
         P Explara is an online event ticketing company. Established in 2008, Explara is an India based company having presence in Bangalore, Pune, Mumbai and New Delhi as well. Internationally the company has partners located in UK, Hong Kong, Singapore and Philippines
         p Explara was conceptualized by Santosh Panda (CEO Explara)[ and co founded by Ashok kumar. Having done his masters at Manchester Business School, Panda has worked for eBay, BBC Broadcast and UPCO. Ashok Kumar [5] is the co founder and VP operations at the company.
         p Panda conceived the idea while listening to a south asian radio. An ad looking for venues for an event gave him the idea to tap the huge potential of online event ticketing and registration solutions. While working in online marketplace in the year 2009, he had set up a recruitment solutions company in Pune a year earlier. Intrigued by the opportunity, he asked his employees to check on upcoming events in India. Spotting a chance to diversify, he renamed his venture as Ayojak.com and launched an online ticketing and event discovery business.[8] It was primarily launched as a venue and event listing portal, however owing to the strong interest from the event organizers for an ‘Event Registration and ticketing Solution’ the concept was revamped to cater to the increasing demand in the market.