extends ./includes/layout
block main
  br
  br
  br
  br
  br

  #jumbo3.container.jumbotron
    .row
      .col-md-6.col-md-offset-3

        form(action='/add-event' method='post')

          .form-group
            label(for='eventName') Event Name:
            input.form-control(type='text' placeholder='Event Name' name="eventName" required)
          
          .form-group
            label(for='') Event starts on:
            input.form-control(type='date' placeholder='Start Date' name="eventStartDate")
          
          .form-group
            label(for='') Event ends on:
            input.form-control(type='date' placeholder='End Date' name="eventEndDate")
          
          .form-group
            label(for='') Event start Time:
            input.form-control(type='text' placeholder='Start Time' name="eventStartTime")
          
          .form-group
            label(for='') Duration of event
            input.form-control(type='text' placeholder='Duration' name="eventDuration")
          
          .form-group
            label(for='') Describe the event:
            textarea.form-control(rows='3' placeholder='description' name="eventDescription")
            //- input.form-control(type='text' rows ='3' placeholder='description' name="eventDescription")
          br
          .form-group
            label(for='Location') Where is the event?:
            .loc
              input#autocomplete.form-control(placeholder='Enter Location', onfocus='geolocate()', type='text',name="eventLocation")
          br
          br
          label(for='dropdown') Type of event
          select.form-control#dropcat(name="eventCategory" required)
            option(value='Conference') Conference
            |   
            option(value='Hackathon') Hackathon
            |   
            option(value='Meet Ups') Meet Ups
            |   
            option(value='Workshops') Workshops
          br
          br
          br
          .row
            .col-md-4.col-md-offset-4
              .form-group
                button.btn.btn-center.btn-block.btn-success.btn-lg.btn-right(type='submit') Submit