extends ./includes/layout
block main
  br
  br
  br
  br
  br

  .container.jumbotron
    .row
      .col-md-6.col-md-offset-4

        form(action='/add-event' method='post')
          .loc
            input#autocomplete(placeholder='Enter Location', onfocus='geolocate()', type='text',name="eventLocation")
          input.form-control(type='text' placeholder='Event Name' name="eventName" required)
          input.form-control(type='date' placeholder='Start Date' name="eventStartDate")
          input.form-control(type='date' placeholder='End Date' name="eventEndDate")
          input.form-control(type='text' placeholder='Start Time' name="eventStartTime")
          input.form-control(type='text' placeholder='Duration' name="eventDuration")
          input.form-control(type='text' placeholder='description' name="eventDescription")
          select(name="eventCategory" required)
            option(value='Conference' ) Conference
              |   
              option(value='Hackathon') Hackathon
              |   
              option(value='Meet Ups') Meet Ups
              |   
              option(value='Workshops') Workshops

          button#submitaddevent.btn.btn-default(type='submit') Submit