extends ./includes/layout
block main
  .container
      .jumbotron
        h1 Welcome to our Mini Web Application
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis necessitatibus suscipit corrupti, qui molestiae animi saepe temporibus est facere enim? Nostrum nulla eaque ducimus perspiciatis culpa, autem maxime rem sint.

      .row
        .col-md-6
          .panel.panel-primary
            .panel-heading.text-center Featured Events
            .panel-body
              each val in eventList
                  .row
                    .col-md-12
                      p= val.profile.title
                      p= val.profile.location
                      p= val.profile.category
                      p= val.profile.desc
        