extends ./includes/layout
block main
  hr
  .container
    .row
      .col-md-6.col-md-offset-4.text-center
    each val in event
      .row
        #jumboview.col-md-6.col-md-offset-4.jumbotron
          p Title:#{val.profile.title}
          p Location: #{val.profile.location}
          p Description: #{val.profile.desc}
          p Category: #{val.profile.categorys}
          form(action="/display-event/"+val._id method="post")
              button.btn.btn-default(type='submit') Details
          form(action="/join-event/"+val._id method="post")
              button.btn.btn-default(type='submit') Join
