extends ./includes/layout
block main
  .container
    .row
      .col-md-6.col-md-offset-4.text-center
    each val in event
      .row
        .col-md-6.col-md-offset-4.jumbotron
          p= val.profile.title
          p= val.profile.location
          p= val.profile.category
          p= val.profile.desc
          form(action="/display-event/"+val._id method="post")
              button.btn.btn-default(type='submit') Details
          if(user)
             if(user.type=="admin")           
                form(action="/delete-event/"+val._id method="post")
                    button.btn.btn-default(type='submit') Delete        
