html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Jade
    link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(href="/vendor/toastr/toastr.min.css" rel="stylesheet")  
    link(href="/css/main.css" rel="stylesheet")
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
    script(src="/js/location.js")
    script(src="/js/header.js")
    link(href="1/ninja-slider.css" rel="stylesheet" type="text/css")
    script(src="1/ninja-slider.js" type="text/javascript")    
  body( onload="initialize()")
    include ../partials/header
    block main
    include ../partials/footer
    script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
    script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript", src="/vendor/toastr/toastr.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
    script(src="//apis.google.com/js/client:plusone.js")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
    script(src="/js/location.js")  
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")