footer{
  p{
    border-top: 1px solid #d7e0e2;
  }
}
#fa{
	  position: relative;
  top: -24px;
  color:  #f8ff9b;
  text-shadow: 1px 1px 1px #000, 7px 7px 94px rgb(0, 0, 0);
}

#conto{
	  position: relative;

}
#footerjumbo
{
	 background-color: transparent;
 box-shadow: 29px -1px 82px 2px black;
}
#lastp
{color:#f8ff9b;
  font-weight: 800;
  font-size: 20px;
}
#footera
{
	color: #f8ff9b;
}