@import 'header';
@import 'footer';

//custom colors 
$col1 : #2eafb0;
$col2 : #6ec1c2;
$col3 : #f1831d;
$col4 : #7f2b82;
$col5 : #e41a6a;


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 18px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: absolute;
   left: 0;
   top: 108px;

}



.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }

.name
{
	text-decoration:none;
}
#userdet
{
   font-size:20px;
}
#unregeve
{
     position: relative;
  left: 37px;
    bottom: 2px;
}
#canceleve
{
   position: relative;
  left: 37px;
   top:4px;
}
#details
{
   position: relative;
  left: 37px;
   top: 5px;
}
#attendi
{
   position: relative;
  left: 36px;
    top: 5px;
}
#abouhead
{
   background-color: transparent;
 box-shadow: 29px -1px 82px 2px black;
   text-shadow: 2px 3px 9px #1A3DBE, 7px 7px 94px rgb(1, 16, 16);
  color: white;
}
#abou{
  color:white;
  font-size: 16px;
   background-color: transparent;
 box-shadow: 29px -1px 82px 2px black;
   text-shadow: 2px 3px 9px #1A3DBE, 7px 7px 94px rgb(1, 16, 16);
  
}

#submitaddevent
{
  position: relative;
  top: 50px;
  right: 102px;
}

// contact us form 
.contactusform
{
    .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
    }

    .header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
    }
  }


  .box1{
    width: 300px;
    margin: 20px;
    padding: 10px;
    min-height: 200px;
    position:relative;
    display: inline-block;
    background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-bottom-right-radius: 6px 50px;    
}

.box1:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:0; right:0;
    -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    z-index:-1;
    -webkit-transform: translate(-35px,-40px)
                        skew(0deg,30deg)
                        rotate(-25deg);
}

.box1:after{
    content: '';
    width: 100px;
    height: 100px;
    top:0; left:0;
    position:absolute;
    display: inline-block;
    z-index:-1;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
                        translate(20px,25px)
                        skew(20deg);
}

.box1 img {
    width: 100%;
    margin-top: 15px;
    height: 300px;
}
.box1
{
  p{ 
    margin-top: 15px;
    text-align: justify;
}

h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

a{
    text-decoration: none;
    color: #4A4A4A !important;
}
}


   #heading
   {
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        position: relative;
  text-align: right;
  color: red;
   }
   #status
   {
      color:red;
   }
   #option2
   {
   position: relative;
  left: 11px;
}
#option3
{
   position: relative;
  top: 31px;
  left: 25px;
}

#jumbo1
{
    background-color: transparent;
 box-shadow: 29px -1px 82px 2px black;
   text-shadow: 2px 3px 9px #1A3DBE, 7px 7px 94px rgb(1, 16, 16);
  color: white;
}
#heading1
{
    text-shadow: 2px 3px 9px #011010, 7px 7px 94px rgb(1, 16, 16);
   color: rgb(255, 100, 48);
}
#jumbo2
{
    background-color: transparent;
 box-shadow: 29px -1px 82px 2px black;
   text-shadow: 2px 3px 9px #1A3DBE, 7px 7px 94px rgb(1, 16, 16);
  color: white;
}
#heading2
{
   text-shadow: 2px 3px 9px #011010, 7px 7px 94px rgb(1, 16, 16);
   color: rgb(255, 100, 48);
 }
#jumbo3
{
    background-color: transparent;
 box-shadow: 29px -1px 82px 2px black;
   text-shadow: 2px 3px 9px #1A3DBE, 7px 7px 94px rgb(1, 16, 16);
  color: white;

}
#heading3
{
    text-shadow: 2px 3px 9px #011010, 7px 7px 94px rgb(1, 16, 16);
   color: rgb(255, 100, 48);
}
#uploadform
{
  position: relative;
  left: 36px;
}
#userdethead
{

   text-shadow: 2px 3px 9px #011010, 7px 7px 94px rgb(1, 16, 16);
   color: rgb(255, 100, 48);
}
#panelbck
{
  color: white;
   // box-shadow: 1px;
   background-color: transparent;
 border-color: transparent;
   text-shadow: 2px 3px 9px #1A3DBE, 7px 7px 94px rgb(1, 16, 16);
  color: white;

}
.panel-title
{
  font-weight: 800;
}
#panelhead
{
    background-color: transparent;
 border-color: transparent;
   text-shadow: 2px 3px 9px #1A3DBE, 7px 7px 94px rgb(1, 16, 16);
  color: white;

}
#panelbody
{
     background-color: transparent;
 
   text-shadow: 2px 3px 9px #1A3DBE, 7px 7px 94px rgb(1, 16, 16);
  color: white;
}
#unreg
{
  position: relative;
  left: 36px;
}
#detbut
{
  position: relative;
  left: 36;
}
#jumboadd
{
   background-image: url("../images/dashboard1.png"), url("../images/dashboard2.png");
background-repeat: repeat-x, repeat;
   background-size: cover;
}
#jumboview
{
   background-color: transparent;
 box-shadow: 29px -1px 82px 2px black;
   text-shadow: 2px 3px 9px #1A3DBE, 7px 7px 94px rgb(1, 16, 16);
  color: white;

}

#headingin
{

  color: rgb(248, 255, 155);
  text-align: right;
}
.attendeesname
{
  color: black;
}
#attendeesmodal
{
  color: black;
}
//for all color classes
.color1
{
  color: $col1;
}
.bg-color1
{
  background-color: $col1;
}
.color2
{
  color: $col2;
}
.color3
{
  color: $col3;
}
.color4
{
  color: $col4;
}
.color5
{
  color: $col5;
}
/*buttton made by chintan*/
.btn-custom 
{
  box-sizing: border-box;
  width: 125px;
  height: 45px;
  background-image: -webkit-linear-gradient(rgba( 46, 175, 176, 1), rgba( 46, 175, 176, 1));
  background-image: linear-gradient(rgba( 46, 175, 176, 1),rgba( 46, 175, 176, 1));
  border-radius: 30px;
  box-shadow: 0px 10px 0px 0px #f1831d;
  -moz-box-sizing: border-box;
  :active.btn-custom, :active, :focus
  {
    box-sizing: border-box;
    width: 125px;
    height: 45px;
    background-image: -webkit-linear-gradient(rgba( 46, 175, 176, 1), rgba( 46, 175, 176, 1));
    background-image: linear-gradient(rgba( 46, 175, 176, 1),rgba( 46, 175, 176, 1));
    border-radius: 30px;
    box-shadow: 0px 0px 0px 0px #f1831d;
    -moz-box-sizing: border-box;
  };
}


body{
background-image: url("../images/background1.png"), url("../images/background2.png");
background-repeat: repeat-x, repeat;
}
.bcks
{
  box-shadow: 14px 14px 89px black;
}
.userpanelimg
{
  img{
    float:left;
    height: 81px;

  }
}
#dashimage
{
  height: 300px;
  width: 300px;
}